In [1]:
%cd ..

D:\SoftUni\Data Science\ProjectV2

In [2]:
import pandas as pd

from src import functions

### Metadata
This dataset contains information of level of healthcare system in countries around the world. It is measured by overal healhcare index which takes into account other metrics. All countries are ranked by this index.

The source of data is https://ceoworld.biz/2024/04/02/countries-with-the-best-health-care-systems-2024/

### Loading, exploring and cleaning data

In [3]:
healtcare_data = pd.read_excel('data/healthcare_source_dataset/healthcare ratings.xlsx')

In [4]:
healtcare_data

,Rank,Country,Medical Infrastructure and Professionals,Medicine Availability and Cost,Government Readiness,Health Care Index (Overall)
0,1,Taiwan,87.16,83.59,82.30,78.72
1,2,South Korea,79.05,78.39,78.99,77.70
2,3,Australia,90.75,82.59,92.06,74.11
3,4,Canada,86.18,78.99,88.23,71.32
4,5,Sweden,78.77,74.88,74.18,70.73
...,...,...,...,...,...,...
105,106,Bolivia,64.20,49.60,47.96,22.30
106,107,Paraguay,64.00,49.25,47.73,21.90
107,108,Nepal,63.90,49.17,47.03,21.40
108,109,Honduras,63.40,49.15,46.58,19.60
109,110,El Salvador,62.60,48.96,46.22,18.60

In [5]:
healtcare_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Rank                                      110 non-null    int64
 1   Country                                   110 non-null    object
 2   Medical Infrastructure and Professionals  110 non-null    float64
 3   Medicine Availability and Cost            110 non-null    float64
 4   Government Readiness                      110 non-null    float64
 5   Health Care Index (Overall)               110 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 5.3+ KB

In [6]:
healtcare_data.rename(functions.to_snake_case, axis = 'columns', inplace = True)

In [7]:
healtcare_data = healtcare_data.rename(columns = {'health_care_index_(overall)': 'healthcare_index'})

In [8]:
healtcare_data.describe()

,rank,medical_infrastructure_and_professionals,medicine_availability_and_cost,government_readiness,healthcare_index
count,110.000000,110.000000,110.000000,110.000000,110.000000
mean,55.500000,74.500364,59.741727,65.520909,40.888273
std,31.898276,9.826731,10.773974,14.449838,12.945831
min,1.000000,45.460000,40.810000,43.320000,18.600000
25%,28.250000,68.232500,51.802500,52.647500,33.062500
50%,55.500000,71.900000,55.980000,63.785000,38.280000
75%,82.750000,78.675000,65.850000,74.142500,46.140000
max,110.000000,98.700000,96.220000,98.740000,78.720000

### Feature selection

In [11]:
healtcare_data = healtcare_data[['rank', 'country', 'healthcare_index']]

In [12]:
healtcare_data

     rank      country  healthcare_index
0       1       Taiwan             78.72
1       2  South Korea             77.70
2       3    Australia             74.11
3       4       Canada             71.32
4       5       Sweden             70.73
..    ...          ...               ...
105   106      Bolivia             22.30
106   107     Paraguay             21.90
107   108        Nepal             21.40
108   109     Honduras             19.60
109   110  El Salvador             18.60

[110 rows x 3 columns]

### Saving transformed dataset

In [15]:
healtcare_data.to_csv('data/preprocessed_datasets/healthcare_index_by_country.csv', index = False)